*{
    margin : 0;
    padding : 0;

} 
/* Using compound selector on navbar */

body{
    margin : 0;
    font-family : 'Ubuntu', sans-serif;
    /* font-size: 1.95rem; */
    font-weight: 300;
    /* padding : 2.3rem; */

}

img {
    max-width : 100%;
    width : 100%;
    margin :0;
    padding :0;
    display : block;
   
}

.media{
    width : 30%;
    background-color :#f8f8f8;
    color : black;
}




/* ==========
 Page Layout
=============== */
.container{
    width : 90%;
    max-width : 1200px;
    margin : 0 auto;
    justify-content: space-between;
}
.container-nav, .container-main{
    display : flex;
    flex-direction : column;
    justify-content: space-between;
}

header{
    padding : 0 1em;
    /* background : yellow; */
    background: #f8f8f8f8;
    text-align: left;
    margin-bottom : 2em;
    /* margin : 0 2em; */
}

/* Nav bar section */

nav{
    min-height : 70px;
    display : flex;
    justify-content: space-between;
    align-items: right;
    /* padding : 0 14px; */
    margin : 0;
}

.banner-heading{
    text-align: center;
    font-size : 3rem;
    text-shadow: 0 1px 1px;
    color : black;
    /* color :	#FFFFFF; */
    margin-bottom : .9em;
    letter-spacing: .2em;
    font-weight: 600;
}

nav ul{
    display : flex;
    justify-content: space-between;
    align-items: center;
    gap : 40px;

    /* list-style: none;
    gap : 40px;
    display : flex;
    justify-content: center; */


}
nav li{
    list-style: none;
    /* margin-left: 2em; */
}

nav a{
    text-decoration : none;
    color : #707070;
    font-weight : 700;
    padding: .25em 0;
}
nav span{
    color : #1792d2;
    font-weight : 700;
    padding: .25em 0;
}
.hamburger{
    display : none;
    cursor: pointer;
   
}

.bar{
    display : block;
    width : 25px;
    height : 3px;
    margin : 5px auto;
    -webkit-transition : all 0.3s ease-in-out;
    transition : all 0.3s ease-in-out;
    background-color: black;
  
}
nav a:hover,
nav a:focus{
    color : #1792d2;

}

.navbar-link{
    transition : 0.7s ease;

}
.present_page{
    border-bottom: 1px solid #707070;
}
.present_page:hover{
    color : #797979;
}



h1,
h2,
h3{
    font-family : 'Lora', serif;
    font-weight : 100;
    color : #1792d2;
    margin-top : 0;
}

h1{
    font-size : 2rem;
    margin : 0;
}

a:hover,
a:focus{
    color : #1792d2;
}

.banner-section{
    /* margin-top : -20px; */
    width : 90vw;
    height : 55vh;
    margin : 0;
    justify-content: space-between;
    background-color : #efefef;
    padding : 0;
}
.banner-heading{
    font-size : 3rem;
    color : #fff;
}


.banner-section{
    align-items: center;
        width : 100%;
        min-height : 70vh;
        background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9));
        background-position : center;
        background-size : cover;
        /* padding : 5%; */
        align-items: center;
        justify-content: center; 
}
.banner-section img{
    max-width: 100%;
    width : 100%;
    /* object-position : top left; */
    margin-bottom : -10em;
    object-fit:cover;
    height : 65vh;
}

.pagination-list{
    min-height : 30px;
    margin : 0;
    padding : 0 14px; 

}
.nav-list-item{
    font-size : 1.5rem;
    display: flex;
    margin : 0;
    padding : .9, .9em;

}
.pagination-line{
    display: inline;
    padding : .3rem;
    /* margin : 0 auto; */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.pagination-item{
    text-align: left;
   
}
.page-link{
    font-size : 1.5rem;
    margin : .5 .5em;
    color : #1792d2;
}

.page-link:hover{
    background-color : #1792d2;
    color : #f8f8f8;
    padding : .3em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: .3em;
}
.article-title, .article-info, .article-body, .comment{
    font-size : 1.5rem;
    margin : 0;
    padding : .3em 0;

}





/* =================
Navbar mobile media query ======= */
@media screen and (max-width: 668px){

    .hamburger{
        display : block;
    }
    .nav-list{
        flex-direction: column;
        margin-right : 0 auto;
    }

    .nav-line{
        margin-right : 3em;
    }
    
    .nav-list{
        margin : 0 14px;
        padding : .5em;
        
    }
    .nav-list-item{
        padding : .3em;
    }


    .hamburger.active .bar:nth-child(2){
        opacity : 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform : translateY(8px) rotate(45deg);
    }


    .hamburger.active .bar:nth-child(3){
        transform : translateY(-8px) rotate(-45deg);
    }

    /* start of editing */

    /* Place here */
    .nav-list{
        position : fixed;
        left : -100%;
        top : 70px;
        gap : 0;
        flex-direction: column;
        background-color : #f8f8f8;
        width : 100%;
        text-align: left;
        transition : 0.3s;

    }

    .nav-list.active{
        left : 0;
    }

    .nav-list-item{
        /* margin : 16px 0; */
        margin-right : 3em;
    }

    .nav-list-item.active{
        text-align: left;
    }

    .banner-section{
        /* margin-top : rem; */
        align-items: center;
        width : 100%;
        min-height : 40vh; 
    }
    .banner-section img{
        max-width: 100%;
        width : 100%;
        height : 65vh;
    }
    .banner-heading{
        font-size : 1.5rem;
        color : #fff;
        padding : .9em;
    }

    img {
        width : 50%;
        margin :0;
        padding :0;
        display : block;
       
    }
}
/* end of Nav media query section */

/* The rural cooking site title */
.site-title{
    font-weight : 700;
    font-size : .75rem;
    margin : 0; 
}

.form-bg{
    background :#efefef;
    padding : 2rem;
    float : right;
    max-width: 668px;
    border-radius: 1em;
    
}
.input-field{
    background: transparent;
    padding : .5em;
    border-radius: .8em;
    border : 3px solid #fff;
    width : 80%;
    max-width: 0 auto;
}

footer{
    background: #143774;
    color : #fff;
    text-align : center;
    padding : 1em;
    margin : 0;
}
@media (min-width: 668px){
    .container-main{
        flex-direction :row;
    }

    main{
        width : 70%;
    }
    aside{
        width : 25%;
        min-width : 250px;
        margin-left: 1em;
    }
}

.article-read-more{
    font-size: 0.875rem;
}
.article-read-more{
    color : #1792d2;
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover, .article-read-more:focus{
    color : #143774;
    text-decoration: underline;
}

.article-info{
    line-height: 0;
    
}

.article-title, .article-read-more{
    font-size: 1.5rem;
}
.widget-title,
.widget-recent-post-title{
    font-size: 1rem;
}
.widget-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}


@media screen and (max-width: 675px){
    .site-title{
        font-size : .65rem;
      
    }

    nav ul{
        flex-direction : column;

    }
    nav li{
        margin: .5em 0;
    }
    .grid-container {
        grid-template-columns: 1fr !important;
    }
    
    .hamburger{
        display : block;

    }
}


/* article section */
.article-feature{
    border-bottom : #707070 1px solid;
    padding-bottom : 1rem;
    margin-bottom : 2em;
}

.article-recent{
    display : flex;
    flex-direction: column;
}
.article-recent-main{
    order : 2;
}
.article-recent-secondary{
    order : 1;
}

.about-image{
    max-height : 100px;
    object-fit:scale-down;
}
@media(min-width: 675px){
    .article-recent{
        flex-direction : row;
        justify-content: space-between;
    }
    
    .article-recent-main{
        width : 68%;
        padding : 3rem;
    }

    .article-rent-secondary{
        width : 30%;
    }

    .article-image{
        width : 90%;
        min-height : 100px;
        object-fit : cover;
    }



    .article-feature{
        display : flex;
        flex-direction: column;
    }

    .article-image{
        order : -2;
    }

    .article-info{
        order : -1
    }
}

/* about section */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .description{
    display: flex;
    align-items: center;
    gap: 1em;
  }

/* widget */

.sidebar-widget{
    border : 20px solid #efefef;
    margin-bottom : 2em;
    padding : 1em;
}
.middle-widget{
    border : 15px solid #efefef;
    margin-bottom : 2em;
    margin: 0auto0;
    align-self: center;
    padding : 1em;
}

.widget-recent-post{
    display : flex;
    flex-direction: column;
    border-bottom: 1px solid #70707070;
}

.widget-image{
    order : -1;
}