{%extends 'blog/base.html' %}
{% load static %}

{%block content_area %}

<div class="container container-main">   
    <cent>
        <div class="middle-widget">
            <h1 class ="widget-title"> XXXXX</h1>
            <p class = "article-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia porro dicta, ex deserunt distinctio enim earum voluptates nostrum laborum error eaque quae alias asperiores. Inventore quo excepturi ullam officiis!</p>
        </div>
        <div class = "grid-container">
            <div class = "description">
                <img src="{% static 'asset/images/no_user.png' %}" class = "about-image">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia porro dicta, ex deserunt distinctio enim earum voluptates nostrum laborum error eaque quae alias asperiores. Inventore quo excepturi ullam officiis!</p>
            </div>
            <div class = "description">
                <img src="{% static 'asset/images/no_user.png' %}" class = "about-image">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia porro dicta, ex deserunt distinctio enim earum voluptates nostrum laborum error eaque quae alias asperiores. Inventore quo excepturi ullam officiis!</p>
            </div>
            <div class = "description">
                <img src="{% static 'asset/images/no_user.png' %}" class = "about-image">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia porro dicta, ex deserunt distinctio enim earum voluptates nostrum laborum error eaque quae alias asperiores. Inventore quo excepturi ullam officiis!</p>
            </div>
            <div class = "description">
                <img src="{% static 'asset/images/no_user.png' %}" class = "about-image">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia porro dicta, ex deserunt distinctio enim earum voluptates nostrum laborum error eaque quae alias asperiores. Inventore quo excepturi ullam officiis!</p>
            </div>
            <div class = "description">
                <img src="{% static 'asset/images/no_user.png' %}" class = "about-image">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia porro dicta, ex deserunt distinctio enim earum voluptates nostrum laborum error eaque quae alias asperiores. Inventore quo excepturi ullam officiis!</p>
            </div>
            
        </div>
    </cent>
</div>



    <script src="ruralscript.js"></script>

{% endblock %}
