{%extends 'blog/base.html' %}
{% load static %}


{%block content_area %}
    <div class="container container-main">
            <main role="main">

                <!-- This blog represent the daily post section -->
                {% for post in post %}
                <article class="article-recent">
                   
                    <div class="article-recent-main">
                        <p class="article-info">{{post.current_time|timesince}} ago</p>
                        <h2 class="article-title">{{post.title|upper}}</h2>
                        <p class="article-body">{{post.body|truncatewords:20}}</p>
                        </p>
                        <a href="{% url 'post_details' post.slug %}" class="article-read-more">Continue Reading</a>
                    </div>

                    <div class="article-recent-secondary">
                        <img src="{% static 'asset/images/woman_cooking.png' %}" alt="" class="article-image">
                        <br>
                    </div>
                   
                </article>
                {%endfor%}

       
        <!-- Pagination section -->
    
        <ul class="pagination-list">
        
            {% if post.has_previous %}
    
            <li class="pagination-line">
                <a class="page-link" href="?page=1">&laquo; First</a>
               
            </li>

             <li class="pagination-line">
                <a class="page-link" href="?page={{ post.previous_page_number }}">Previous</a>
            </li> 

            {%endif%}
            <li class="pagination-line">
                <a class="page-link" href="#">page {{post.number}} of {{post.paginator.num_pages}}</a>
            </li>

           

            {% if post.has_next %}
            <span>
            <li class="pagination-line">
                <a class="page-link" href="?page={{ post.next_page_number }}"> Next</a>
            </li>

            <li class="pagination-line">
                <a class="page-link" href="?page={{ post.paginator.num_pages }}"> Last &raquo;</a>
            </li>
      

            {% endif %}
        </ul>

    <!-- pagination end -->

                <!-- end of Pagination section  -->

                <!-- end of daily posting -->

            </main><!--end of main here-->

            <aside class="sidebar">

                <div class="sidebar-widget">
                    <h2 class="widget-title">Sidebar first heading</h2>
                    <img src="{% static 'asset/images/woman_cooking.png' %}" alt="" class="widget-image">
                    <p class="widget-body"></p>
                </div>

                <div class="sidebar-widget">
                    <h2 class="widget-title">Sidebar second heading</h2>
                    <div clas="widget-recent-post">
                        <h3 class="widget-recent-post-title"> Another heading in recent</h3>
                        <img src="" alt="" class="widget-image">
                    </div>

                    <div clas="widget-recent-post">
                        <h3 class="widget-recent-post-title">Heading Again</h3>
                        <img src="{% static 'asset/images/woman_cooking.png' %}" alt="" class="widget-image">
                    </div>
                 
                </div>
            </aside>
        </div>
        <br>
        <br>

        {% endblock %}