{% extends 'blog/base.html' %}
{% load static %}


{%block content_area %}
    <div class="container">
        <div class="banner-section">
            <img src="/static/asset/images/test1.jpg">
            <div class="text-banner rounded">
                <h2 class="banner-heading">The Rural Cooking Blog</h1>
            </div>
        </div>
        <div class="block_article">
            {% for post in post %}
                <h2 class="article-title">{{post.title|upper}} </h2>
                <p class="article-info">{{post.current_time|timesince}} ago</p>
                <p class="article-body">{{post.body|truncatewords:20}} <a href="{% url 'post_details' post.slug %}" class="article-read-more"><br>Read More</a></p>
                
            {%endfor%}

        </div>

        <!-- Pagination section -->
    
            <ul class="pagination-list">
        
                    {% if post.has_previous %}
            
                    <li class="pagination-line">
                        <a class="page-link" href="?page=1">&laquo;First</a>
                    </li>

                     <li class="pagination-line">
                        <a class="page-link" href="?page={{post.previous_page_number }}">Previous</a>
                    </li> 
        
                    {%endif%}
                    <li class="pagination-line">
                        <a class="page-link" href="#">page {{post.number}} of {{post.paginator.num_pages}}</a>
                    </li>
                    {% if post.has_next %}
                    <li class="pagination-line">
                        <a class="page-link" href="?page={{post.next_page_number }}"> Next</a>
                    </li>
                    <li class="pagination-line">
                        <a class="page-link" href="?page={{post.paginator.num_pages }}">Last &raquo; </a>
                    </li>
                    {%endif%}
            
            </ul>

            <!-- pagination end -->
    


        <div class="">
            <h1>Welcome New Section coming</h1>
        </div>
        
    </div>
</div>

    <br>
    <br>
{%endblock%}



